.header {
  display: flex;
  align-items: center;
  justify-content: center;

  background: $black;
  color: $white;
  height: 130px;

  @media (max-width: 650px) {
    height: 100px;
  }
}

.banner {
  background: $green;
  width: 100%;

  &__desktop {

    &__wrapper {
      height: 390px;
      display: flex;
      justify-content: space-between;
      position: relative;
      align-items: center;
      gap: 80px;
  
      @media (max-width: 1300px) {
        gap: 20px;
      }
    }
  
    &__title {
      font-size: 28px;
      font-weight: 600;
      line-height: 50px;
      text-transform: uppercase;
      // font-family: $font-title;
  
      strong {
        font-weight: 800;
        line-height: 40px;
        text-transform: uppercase;
        font-size: 48px;
      }
    }
  
  
    &__details {
      position: absolute;
      width: 540px;
      
      p {
        font-size: 26px;
        margin-top: 10px;
        font-weight: 600;
        line-height: 36px;
      }
  
      .buttons {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 30px;
      }
  
      button {
        padding: 10px;
        font-size: 22px;
        font-weight: 600;
        width: 240px;
        cursor: pointer;
  
  
        background: $gray-dark;
        color: $white;
        border: none;
      }
    }
  
    &__img {
      width: 100%;
      height: 390px;
      img {
        height: 390px;
        // max-width: 500px;
        width: 100%;
        object-fit: cover;
        // object-position: left;
      }
    }
  }

  &__mobile {
    display: none;
  }
}

.benefits {
  background: $white;
  width: 100%;

  &__wrapper {

    padding: 30px 0;
    display: flex;
    position: relative;
    // height: 410px;
    // gap: 7%;
  }

  &__titles {

    p {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 600;
    }

    .title {
      font-size: 32px;
      font-weight: 800;
      line-height: 40px;
    }
  }

  .desconts {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    &__items {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      flex: 1;

      

      .desktop__img {
        // position: absolute;
        // top: 0;
        display: flex;
        width: 100%;
        max-width: 600px;
        margin-left: 30px;
      }

      .mobile__img {
        display: none;

      }
    }

    img {
      // width: 100%;
      width: 550px;

    }

    span {
      text-align: center;
      margin-top: 10px;
      font-size: 16px;
      font-weight: 600;
    }
  }


}

.signup {
  background: $green;

  &__wrapper {
    padding: 30px 0;
  }

  &__titles {

    p {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 600;
    }

    .title {
      font-size: 32px;
      font-weight: 800;
      line-height: 40px;
    }
  }

  &__details {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 122px;
    margin-top: 20px;

    @media(max-width: 1050px) {
      flex-direction: column;
      gap: 40px;
    }
  }

  .item {
    width: 300px;
    min-height: 220px;
    height: auto;
    background: $white;
    padding: 25px;
    border-radius: 20px;
    position: relative;

    &:last-child {
      &:before, &:after {
        display: none;
      }
    }

    &:before {
      content: '';
      width: 13px;
      height: 13px;
      position: absolute;
      display: block;
      right: -122px;
      top: 0;
      bottom: 0;
      margin: auto;
      border: 1px solid #000;
      border-radius: 50%;
      z-index: 2;

      @media(max-width: 1050px) {
        width: 13px;
        height: 13px;
        left: 0;
        right: 0;
        bottom: -47px;
        z-index: 99999;
        top: initial;
      }
    }

    &:after {
      content: '';
      background: #000;
      width: 108px;
      height: 1px;
      position: absolute;
      display: block;
      right: -108px;
      top: 0;
      bottom: 0;
      margin: auto;
      z-index: 2;

      @media(max-width: 1050px) {
        width: 1px;
        height: 32px;
        right: -108px;
        left: 0;
        right: 0;
        bottom: -32px;
        top: initial;
      }
    }

    span {
      font-size: 28px;
      font-weight: 800;
    }

    p {
      margin-top: 10px;
      font-weight: 600;
    }
  }
}

.signin {

  &__wrapper {
    padding: 30px 0 ;
  }

  &__titles {

    p {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 600;
    }

    .title {
      font-size: 32px;
      font-weight: 800;
      line-height: 40px;
    }
  }

  &__details {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
  }

  .item {
    width: 320px;
    height: 250px;
    background: $white;
    padding: 20px;
    border-radius: 20px;

    .step {
      font-weight: 800;
      font-size: 28px;
    }

    span {
      font-size: 22px;
      font-weight: 600;
      display: block;
    }

    p {
      margin-top: 10px;
      font-weight: 600;
    }
  }

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
  }

  button {
    padding: 10px;
    font-size: 28px;
    font-weight: 600;
    width: 280px;
    cursor: pointer;


    background: $gray-dark;
    color: $white;
    border: none;
  }
}

.questions {
  background: $gray-light;

  &__wrapper {
    padding: 30px 0;
  }

  &__title {

    font-size: 32px;
    font-weight: 800;
    line-height: 40px;

  }

  &__container {
    border-left: 1px solid $black;
    margin-top: 20px;
    padding-left: 20px;
  }

  span {
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 600;
  }
}



@media (max-width: 1250px) {
  .benefits {
  
    .desconts {
  
  
      img {
        // width: 100%;
        width: 550px;
  
        margin-left: 0;
      }
  

    }
  
  
  }
}

@media (max-width: 1100px) {
  .banner {
    &__desktop {
      display: none;
    }

    &__mobile {
      display: flex;

      &__wrapper {
        display: flex;
        flex-direction: column;
        position: relative;
        // justify-content: space-between;
        align-items: center;
        // gap: 80px;
    
      }

      &__title {
        font-size: 48px;
        font-weight: 400;
        text-transform: uppercase;
        // font-family: $font-title;
    
        strong {
          font-weight: 800;
          line-height: 40px;
          text-transform: uppercase;
          font-size: 68px;
        }
      }
    
    
      &__details {
        flex: 1;
        width: 100%;
        position: absolute;
        z-index: 999;

        max-width: 650px;
        
        p {
          font-size: 32px;
          margin-top: 10px;
          font-weight: 600;
        }
    

      }
    
      &__img {
        width: 100%;
        position: relative;
        display: flex;
        margin-top: 30px;
        // align-items: center;
        justify-content: center;

        img {
          // height: 500px;
          max-width: 720px;
          width: 100%;
          object-fit: cover;
          object-position: center;
        }

        .buttons {
          display: flex;
          // flex-direction: column;
          gap: 15px;
          margin-top: 40px;

          width: 100%;
          max-width: 575px;
          position: absolute;
          bottom: 8%;
          left: 50%;
          transform: translateX(-50%);
        }
    
        button {
          padding: 10px;
          font-size: 28px;
          font-weight: 600;
          width: 100%;
          max-width: 280px;
          height: 60px;
          cursor: pointer;
    
    
          background: $gray-dark;
          color: $white;
          border: none;
        }
      }
    }
  }

  .benefits {
    background: $white;
    width: 100%;
  
    &__wrapper {
  
      padding: 30px 0;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  
  
    .desconts {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
  
      &__items {
        display: flex;
        flex-direction: column;

        .desktop__img {
          // position: absolute;
          // top: 0;
          display: none;
  
        }
  
        .mobile__img {
          display: flex;
        }
      }
  
      img {
        // width: 100%;
        // width: 550px;
        margin-left: 0;
      }
  
      span {
        text-align: center;
        margin-top: 10px;
        font-size: 16px;
        font-weight: 600;
      }
    }
  
  
  }
}

@media (max-width:880px) {
  .benefits {
    background: $white;
    width: 100%;
  
    &__wrapper {
  
      padding: 30px 0;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  
  
    .desconts {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
  
      &__items {
        display: flex;
        flex-direction: column;
      }
  
      img {
        // width: 100%;
        width: 550px;
        margin-left: 0;
      }
  
      span {
        text-align: center;
        margin-top: 10px;
        font-size: 16px;
        font-weight: 600;
      }
    }
  
  
  }
}

@media (max-width: 800px) {

  
  .signup {
    background: $green;
  
    &__wrapper {
      padding: 30px 0;
    }
  
    &__titles {
  
      p {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
      }
  
      .title {
        font-size: 32px;
        font-weight: 800;
        line-height: 40px;
      }
    }
  
    &__details {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 122px;
      margin-top: 20px;
  
      @media(max-width: 1050px) {
        flex-direction: column;
        gap: 40px;
      }
    }
  
    .item {
      width: 100%;
      height: auto;
      min-height: initial;
      background: $white;
      padding: 25px;
      border-radius: 20px;
  
      span {
        font-size: 28px;
        font-weight: 800;
      }
  
      p {
        margin-top: 10px;
        font-weight: 600;
      }
    }
  }
  
  .signin {
  
    &__wrapper {
      padding: 30px 0 ;
    }
  
    &__titles {
  
      p {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
      }
  
      .title {
        font-size: 32px;
        font-weight: 800;
        line-height: 40px;
      }
    }
  
    &__details {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
      margin-top: 20px;
    }
  
    .item {
      width: 100%;
      height: 200px;
      background: $white;
      padding: 20px;
      border-radius: 20px;
      text-align: center;
  
      .step {
        font-weight: 800;
        font-size: 28px;
      }
  
      span {
        font-size: 22px;
        font-weight: 600;
        display: block;
      }
  
      p {
        margin-top: 10px;
        font-weight: 600;
      }
    }
  
    .buttons {
      display: flex;
      justify-content: center;
      flex-direction: row;
      gap: 10px;
      margin-top: 20px;
    }
  
    button {
      padding: 10px;
      font-size: 28px;
      font-weight: 600;
      width: 280px;
      cursor: pointer;
  
  
      background: $gray-dark;
      color: $white;
      border: none;
    }
  }
  
  .questions {
    background: $gray-light;
  
    &__wrapper {
      padding: 30px 0;
    }
  
    &__title {
  
      font-size: 32px;
      font-weight: 800;
      line-height: 40px;
  
    }
  
    &__container {
      border-left: 1px solid $black;
      margin-top: 20px;
      padding-left: 20px;
    }
  
    span {
      display: flex;
      font-size: 28px;
      font-weight: 800;
      margin-bottom: 10px;
    }
  
    p {
      margin-bottom: 20px;
      font-size: 22px;
      font-weight: 600;
    }
  }
 
}

@media (max-width: 720px) {


  .banner {

    &__mobile {
    
      padding-top: 20px;
      &__title {
        font-size: 28px;
        font-weight: 400;
        text-transform: uppercase;
        // font-family: $font-title;
    
        strong {
          font-weight: 800;
          line-height: 40px;
          text-transform: uppercase;
          font-size: 38px;
        }
      }
    
    
      &__details {
        flex: 1;
        width: 100%;

        max-width: 650px;
        
        p {
          font-size: 22px;
          margin-top: 10px;
          font-weight: 600;
        }
    

      }
    
      &__img {
        width: 100%;
        position: relative;
        display: flex;
        // align-items: center;
        justify-content: center;

        img {
          // height: 500px;
          max-width: 660px;
          width: 100%;
          object-fit: cover;
          object-position: center;
        }

        .buttons {
          display: flex;
          // flex-direction: column;
          gap: 15px;
          margin-top: 40px;

          width: 100%;
          max-width: 575px;
          position: absolute;
          bottom: 8%;
          left: 50%;
          transform: translateX(-50%);
        }
    
        button {
          padding: 10px;
          font-size: 18px;
          font-weight: 600;
          width: 100%;
          max-width: 280px;
          height: auto;
          cursor: pointer;
    
    
          background: $gray-dark;
          color: $white;
          border: none;
        }
      }
    }
  }
  
  .signin {
  
    &__wrapper {
      padding: 30px 0 ;
    }
  
    &__titles {
  
      p {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
      }
  
      .title {
        font-size: 32px;
        font-weight: 800;
        line-height: 40px;
      }
    }
  
    &__details {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
      margin-top: 20px;
    }
  
    .item {
      width: 100%;
      height: 200px;
      background: $white;
      padding: 20px;
      border-radius: 20px;
      text-align: center;
  
      .step {
        font-weight: 800;
        font-size: 28px;
      }
  
      span {
        font-size: 22px;
        font-weight: 600;
        display: block;
      }
  
      p {
        margin-top: 10px;
        font-weight: 600;
      }
    }
  
        .buttons {
          display: flex;
          // flex-direction: column;
          gap: 15px;
          margin-top: 20px;


        }
    
        button {
          padding: 10px;
          font-size: 18px;
          font-weight: 600;
          width: 100%;
          max-width: 280px;
          height: 60px;
          cursor: pointer;
    
    
          background: $gray-dark;
          color: $white;
          border: none;
        }
  }

  .benefits {
  
    &__titles {
  
      p {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
      }
  
      .title {
        font-size: 32px;
        font-weight: 800;
        line-height: 40px;
      }
    }
  
    .desconts {
      display: flex;
      align-items: flex-start;
      justify-content: space-evenly;
  
      &__items {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        
        gap: 10px;
        flex: 1;
      }
  
      img {
        width: 100%;
        // max-width: 150px;
        // margin-left: 30px;
      }
  
      span {
        text-align: center;
        margin-top: 0;
        font-size: 16px;
        font-weight: 600;
      }
    }
  
  
  }
}

@media (max-width: 510px) {

  .banner {
    &__desktop {
      display: none;
    }

    &__mobile {
      display: flex;

      &__wrapper {
        display: flex;
        flex-direction: column;
        position: relative;
        // justify-content: space-between;
        align-items: center;
        // gap: 80px;
    
      }

    
      &__img {
        width: 100%;
        position: relative;
        display: flex;
        margin-top: 30px;
        // align-items: center;
        justify-content: center;

        img {
          // height: 500px;
          max-width: 720px;
          width: 100%;
          object-fit: cover;
          object-position: center;
        }

      }
    }
  }

  .benefits {

    &__titles {

      p {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
      }
  
      .title {
        font-size: 26px;
        font-weight: 800;
        line-height: 40px;
      }
    }
  
    .desconts {
      display: flex;
      align-items: flex-start;
      justify-content: space-evenly;
  
      &__items {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        
        gap: 10px;
        flex: 1;
      }
  
      img {
        // width: 100%;
        // width: 100px;
        // height: 140px;
        
      }
  
      span {
        text-align: center;
        margin-top: 0;
        font-size: 16px;
        font-weight: 600;
      }
    }
  
  
  }

  .signup {
    background: $green;
  
    &__wrapper {
      padding: 30px 0;
    }
  
    &__titles {
  
      p {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
      }
  
      .title {
        font-size: 26px;
        font-weight: 800;
        line-height: 40px;
      }
    }
  

  
    // .item {
    //   width: 100%;
    //   height: 200px;
    //   background: $white;
    //   padding: 25px;
    //   border-radius: 20px;
  
    //   span {
    //     font-size: 24px;
    //     font-weight: 800;
    //   }
  
    //   p {
    //     margin-top: 10px;
    //     font-weight: 600;
    //   }
    // }
  }

  .signin {

    &__wrapper {
      padding: 30px 0 ;
    }
  
    &__titles {
  
      p {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
      }
  
      .title {
        font-size: 26px;
        font-weight: 800;
        line-height: 40px;
      }
    }
  
    &__details {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin-top: 20px;
    }
  
    .item {
      width: 320px;
      height: auto;
      background: $white;
      padding: 20px;
      border-radius: 20px;
  
      .step {
        font-weight: 800;
        font-size: 28px;
      }
  
      span {
        font-size: 22px;
        font-weight: 600;
        display: block;
      }
  
      p {
        margin-top: 10px;
        font-weight: 600;
      }
    }
  
    .buttons {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-top: 20px;
    }
  
    button {
      padding: 10px;
      font-size: 22px;
      font-weight: 600;
      width: 280px;
      height: auto;
      cursor: pointer;
  
  
      background: $gray-dark;
      color: $white;
      border: none;
    }
  }

  .questions {
    background: $gray-light;
  
    &__wrapper {
      padding: 30px 0;
    }
  
    &__title {
  
      font-size: 32px;
      font-weight: 800;
      line-height: 40px;
  
    }
  
    &__container {
      border-left: 1px solid $black;
      margin-top: 20px;
      padding-left: 20px;
    }
  
    span {
      font-size: 22px;
      font-weight: 800;
      margin-bottom: 10px;
    }
  
    p {
      margin-bottom: 20px;
      font-size: 16px;
      font-weight: 600;
    }
  }
}

@media (max-width: 450px) {
  .banner {
    &__desktop {
      display: none;
    }

    &__mobile {
      display: flex;

    
      &__img {
        width: 100%;
        position: relative;
        display: flex;
        margin-top: 60px;
        // align-items: center;
        justify-content: center;

        img {
          // height: 500px;
          max-width: 720px;
          width: 100%;
          object-fit: cover;
          object-position: center;
        }

      }
    }
  }
}
